:root
{
    --c1: teal;
    --c2: lightseagreen;
    --bg: #ededed;
    --bg99: #ededed99;
    --fg: #101010;
}
body
{
	font-family: monospace;
    text-align: center;
    font-size: 11pt;
    color: var(--fg);
    background-color: var(--c1);
}

hr
{
    max-width: 95%;
}

a 
{ 
    color: var(--c2); 
    transition: color 0.5s;
}

a:visited 
{ 
    color: var(--c2);  
}

a:hover
{
    color: var(--c1);
}

.main
{
    background-color: var(--bg); 
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-top: 20px;
    height: 100%;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header
{
    background-color: var(--bg);
    background-color: var(--bg99);
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.header-link
{
    background-color: var(--bg);
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
    border-color: var(--c1);
    color: var(--fg); 
    transition: color 0.5s, border-color 0.5s;
}

.header-link:hover
{
    border-color: var(--c2);
}

@media (prefers-color-scheme: dark) 
{
    :root
    {
        --bg: #101010;
        --bg99: #10101099;
        --fg: #ffffff;
    }
}
