body
{
    color: #10171f;
    background-color: #55AAFF;
    background-image: url("inventorybg.bmp");
    text-shadow: 0.5pt 0.5pt #55AAFF77;
}

a 
{ 
    color: #5555FF;
}

a:visited 
{ 
    color: #5555FF;
}

a:hover
{
    color: #55AAFF;
}

hr
{
    border: 1px #5555FF solid;
}

#main
{
    background-color: #edffff;
    background-color: #edffffaa;
    border-color: #5555FF;
    width: 75%;
}

table
{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%  !important;
}

.code-block
{
    background-color: #00070f77;
    color: #edffff;
}

.button-link
{
    background-color: #55AAFF;
    background-color: #55AAFFaa;
    border-color: #5555FF;
    width: 33%;
}

.button-link:hover
{
    border-color: #55AAFF;
}

@media (prefers-color-scheme: dark) 
{
    #main
    {
        background-color: #10171f;
        background-color: #10171faa;
    }
    body
    {
        color: #edffff;
    }
    a 
    { 
        color: #55AAFF;
    }

    a:visited 
    { 
        color: #55AAFF;
    }

    a:hover
    {
        color: #5555FF;
    }
}

table, td, th
{
    border: 3px solid #5555FF;
    border-radius: 15px;
    background-color: #edffff77;
}

td
{
    width: 300px;
}

img
{
    border-radius: 15px;
}
