@font-face
{
    font-family: linja-pona;
    src: url('linja-pona-4.9.otf');
    font-weight: normal;
    font-style: normal; 
}

body
{
    font-family: sans-serif;
    text-align: center;
    color: #1f1017;
    background-color: pink;
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(249,159,177,1) 50%, rgba(249,159,177,1) 98%, rgba(255,255,255,1) 98%),
    linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(249,159,177,1) 50%, rgba(249,159,177,1) 98%, rgba(255,255,255,1) 98%);
    background-size: 20rem 20rem;
    text-shadow: 0.5pt 0.5pt #fbbfcb77;
}

a 
{ 
    color: palevioletred;
    transition: color 0.3s;
}

a:visited 
{ 
    color: palevioletred;
}

a:hover
{
    color: pink;
}

#main
{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffffed;
    background-color: #ffffedaa;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: palevioletred;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#links-table
{
    margin-left: auto;
    margin-right: auto;
}

.sitelen-pona
{
    font-family: linja-pona;
    font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
    text-rendering: optimizeLegibility;
}

.system-names
{
    text-shadow: 1px 1px #0f000777;
}

.code-block
{
    font-family: monospace;
    font-size: 12pt;
    background-color: #0f000777;
    border-radius: 3px;
    color: #ffffed;
    padding-left: 5px;
    padding-right: 5px;
}

.button-link
{
    width: 25%;
    height: 56px;
    background-color: #fbbfcb;
    background-color: #fbbfcbaa;
    color: white;
    font-size: large;
    border-width: 3px;
    border-style: solid;
    border-color: palevioletred;
    border-radius: 30px;
    transition: border-color 0.3s;
    margin-bottom: 4px;
}

.button-link:hover
{
    border-color: pink;
}

@media (prefers-color-scheme: dark) 
{
    #main
    {
        background-color: #1f1017;
        background-color: #1f1017aa;
    }
    body
    {
        color: #ffffed;
    }
    a 
    { 
        color: pink;
    }

    a:visited 
    { 
        color: pink;
    }

    a:hover
    {
        color: palevioletred;
    }
}

@media screen and (max-width: 1200px) 
{
    #main
    {
        width: 90%;
    }
}

@media screen and (max-width: 800px) 
{
    .button-link
    {
        width: 49%;
        height: 72px;
        font-size: large;
        margin-bottom: 8px;
    }
}
